*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.kotlin/errors/errors-1764017621191.log
/.idea/runConfigurations.xml
/.idea/migrations.xml
/.idea/.name
/.idea/compiler.xml
/app/release/output-metadata.json
/.kotlin/errors/errors-1764017076652.log
/.idea/inspectionProfiles/Project_Default.xml
/.idea/appInsightsSettings.xml
/.idea/deploymentTargetSelector.xml
/.idea/misc.xml
/app/release/baselineProfiles/0/app-release.dm
/.idea/gradle.xml
/.idea/deviceManager.xml
/app/release/baselineProfiles/1/app-release.dm
/.kotlin/errors/errors-1764017860661.log
/.idea/vcs.xml
/.idea/AndroidProjectSystem.xml
/.kotlin/sessions/kotlin-compiler-9324448799679683441.salive
